body {
    text-align: center;
    padding: 20px;
    margin: 20px;
    color: crimson;
    font-size: large;
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}